.body {
    background-color: #5BBCE3;
    z-index: 2;
    width: 700px;
    height: 700px;
    position: absolute;
    clip-path: polygon(47% 22%, 64% 23%, 59% 48%, 47% 61%, 34% 47%);
}

.front-wing {
    background-color: #0193CF;
    z-index: 3;
    width: 700px;
    height: 700px;
    position: absolute;
    clip-path: polygon(9% 20%, 34% 47%, 47% 22%);
    /*transform-style: preserve-3d;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;*/
    transform-origin: 47% 22%;
    animation: flap-front 1.25s ease-out 0s infinite;
}

.upper-wing {
    background-color: #0193CF;
    width: 700px;
    height: 700px;
    position: absolute;
    clip-path: polygon(25% 14%, 37% 41%, 47% 22%);
    transform-origin: 37% 41%;
    animation: flap-front 1.25s ease-out 0s infinite;
}

.neck {
    background-color: #B4D8F0;
    width: 700px;
    height: 700px;
    position: absolute;
    clip-path: polygon(57% 16%, 48% 22%, 64% 23%);
}

.head {
    background-color: #0193CF;
    width: 700px;
    height: 700px;
    position: absolute;
    clip-path: polygon(57% 16%, 64% 23%, 96% 15%);
    transform-origin: 57% 16%;
    animation: tilt-head 1.25s ease-out 0s infinite;
}

.tail {
    background-color: #0193CF;
    width: 700px;
    height: 700px;
    position: absolute;
    clip-path: polygon(36% 49%, 30% 78%, 47% 61%);
    transform-origin: 47% 61%;
    animation: tilt-tail 1.25s ease-out 0s infinite;
}

.logo {
    animation: translate-logo 1.25s ease-out 0s infinite;
}

@keyframes flap-front {
  5% {
    transform: rotate3d(0.13,-0.25,0,-70deg)
  }
  10% {
    transform: rotate3d(0.13,-0.25,0,0deg)
  }
  15% {
    transform: rotate3d(0.13,-0.25,0,-90deg)
  }
  20% {
    transform: rotate3d(0.13,-0.25,0,0deg)
  }
  25% {
    transform: rotate3d(0.13,-0.25,0,-110deg)
  }
  35% {
    transform: rotate3d(0.13,-0.25,0,0deg)
  }
  50% {
    transform: rotate3d(0.13,-0.25,0,-160deg)
  }
  100% {
    transform: rotate3d(0.13,-0.25,0,0deg)
  }
}

@keyframes flap-back {
  5% {
    transform: rotate3d(0.10,-0.19,0,70deg)
  }
  10% {
    transform: rotate3d(0.10,-0.19,0,0deg)
  }
  15% {
    transform: rotate3d(0.10,-0.19,0,90deg)
  }
  20% {
    transform: rotate3d(0.10,-0.19,0,0deg)
  }
  25% {
    transform: rotate3d(0.10,-0.19,0,110deg)
  }
  35% {
    transform: rotate3d(0.10,-0.19,0,0deg)
  }
  50% {
    transform: rotate3d(0.10,-0.19,0,160deg)
  }
  100% {
    transform: rotate3d(0.10,-0.19,0,0deg)
  }
}

@keyframes tilt-head {
    0% {
        transform: rotateZ(2deg);
    }
    10% {
        transform: rotateZ(1.9deg);
    }
    20% {
        transform: rotateZ(1.6deg);
    }
    35% {
        transform: rotateZ(1deg);
    }
    50% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(2deg);
    }
}

@keyframes tilt-tail {
    0% {
        transform: rotateZ(0deg);
    }
    10% {
        transform: rotateZ(0.1deg);
    }
    20% {
        transform: rotateZ(0.4deg);
    }
    35% {
        transform: rotateZ(1deg);
    }
    50% {
        transform: rotateZ(2deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes translate-logo {
    0% {
        transform: translate(0px, 0px);
    }
    10% {
        transform: translate(-0.5px, -0.1px);
    }
    20% {
        transform: translate(-2px, -0.4px);
    }
    35% {
        transform: translate(-5px, -1px);
    }
    50% {
        transform: translate(-10px, -2px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}